<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem style="text-align: center" class="slide">
    <video
      _ngcontent-iwk-c56=""
      controls=""
      style="display: inline-block; width: 100%" loading="lazy"
      data-lazy="http://localhost:3008/uploads/product/videos/1615189892407-mov_bbb.mp4"
    ></video>
  </div>
  <div ngxSlickItem style="text-align: center" class="slide">
    <img
      style="display: inline-block" loading="lazy"
      data-lazy="https://picsum.photos/200/300?random=2"
      alt=""
    />
  </div>
  <div ngxSlickItem style="text-align: center" class="slide">
    <img
      style="display: inline-block" loading="lazy"
      data-lazy="https://picsum.photos/200/300?random=3"
      alt=""
    />
  </div>
  <div ngxSlickItem style="text-align: center" class="slide">
    <img
      style="display: inline-block" loading="lazy"
      data-lazy="https://picsum.photos/200/300?random=4"
      alt=""
    />
  </div>
  <div ngxSlickItem style="text-align: center" class="slide">
    <img
      style="display: inline-block" loading="lazy"
      data-lazy="https://picsum.photos/200/300?random=5"
      alt=""
    />
  </div>
  <div ngxSlickItem style="text-align: center" class="slide">
    <img
      style="display: inline-block" loading="lazy"
      data-lazy="https://picsum.photos/200/300?random=6"
      alt=""
    />
  </div>
  <!-- <div ngxSlickItem *ngFor="let slide of slides" class="slide" style="text-align: center;"> loading="lazy"
    <img data-lazy="{{ slide.img }}" style="display: inline-block;"  alt=""  />
  </div> -->
</ngx-slick-carousel>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>
